body{
  background-color: #000000;
  padding-left: 20px;
  padding-right: 20px;
}

h1{
  font-size: 24px;
  font-weight: bold;
  font-family: Sans-serif;
  padding-left: 30px;
  
}

p{
  font-size: 16px;
  font-family: Sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

div{
  background-color: #f5f5dc;
  width: 300px;
}

.Dustin{
  background-image: linear-gradient(#45b2ff,#e8f5ff );
}

.Lucas{
  background-image: linear-gradient(#ff4431,#ffa76a );
}

.Onze{
  background-image: linear-gradient(#1e130c,#9a8478 );
}

.Mike{
  background-image: linear-gradient(#07d173,#072239 );
}
